@using Demizon.Mvc.ViewModels

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">Event form</MudText>
    </TitleContent>

    <DialogContent>
        <MudTextField @bind-Value="EventModel.Name" Label="Name"></MudTextField>
        <MudDateRangePicker @bind-DateRange="EventModel.Date"></MudDateRangePicker>
        <MudTextField @bind-Value="EventModel.Place" Label="Place"></MudTextField>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ClickedOk">
            @if (IsUpdate)
            {
                <span>Update</span>
            }
            else
            {
                <span>Create</span>
            }
        </MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public EventViewModel EventModel { get; set; } = new();

    [Parameter]
    public bool IsUpdate { get; set; }

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    private void ClickedOk()
    {
        MudDialog.Close(DialogResult.Ok(EventModel));
    }

}
